<div class="dialog load-project-dialog">
  <h1>Load</h1>
  <button class="close" (click)="close()"></button>
  <p *ngIf="!projectNames.length">
    No saved projects found.
  </p>
  <div *ngIf="projectNames.length" class="projects">
    <div class="project" *ngFor="let projectName of projectNames">
      <div class="load">
        <button (click)="close(projectName)">{{ projectName }}</button>
      </div>
      <div class="delete">
        <button class="delete" (click)="delete(projectName)"></button>
      </div>
    </div>
  </div>
  <button class="cancel" (click)="close()">Cancel</button>
</div>
