# IDE files and directories
/.idea/
/*.iml
/.settings/
/.project
/.classpath
/.factorypath
/.jsdtscope

# Temporary stuff
/assets/fitness/input
/src/demo
/src/sandbox

# OS garbage
.DS_Store
[Dd]esktop.ini
[Tt]humbs.db

# Build output
/node_modules/
/doc/api/
/typings/
/lib/
/dist/
/*.tgz

# Crash logs and backups
/*.log
*~
