.dialog {
    align-items: center;
    background: rgb(0 0 0 / 75%);
    display: flex;
    flex-direction: row;
    inset: 0;
    justify-content: center;
    opacity: 0;
    position: fixed;
    transition: visibility 250ms, opacity 250ms;
    visibility: hidden;
    z-index: 1000;
}

.open > .dialog {
    opacity: 1;
    visibility: visible;
}

.dialog .frame {
    background: #222;
    border: 2px solid #444;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 20px);
    max-width: calc(100% - 20px);
    z-index: 1001;
}

.dialog .title {
    background: #444;
    padding: 5px 10px;
    position: relative;
    text-align: left;
}

.dialog .title h1 {
    font-family: "Euro Caps", sans-serif;
    font-size: 17px;
    padding-right: 25px;
}

.dialog .title button {
    position: absolute;
    right: 10px;
    top: 5px;
}

.dialog .title button::before {
    content: "\f00d";
}

.dialog .content {
    overflow: auto;
    padding: 1em;
}

.dialog .buttons {
    background: #333;
    padding: 10px;
    text-align: right;
}

.dialog .buttons button {
    margin: 0 0 0 1em;
}

.dialog .buttons .cancel::before {
    content: "\f00d";
}

.dialog .buttons .ok::before {
    content: "\f00c";
}

.dialog .content h2 {
    color: #ffb000;
    font-family: "Euro Caps", sans-serif;
    font-size: 18px;
    margin-bottom: 0.5em;
    margin-top: 1em;
    text-shadow: 0 0 15px #fff;
}

.dialog .content h2:first-child {
    margin-top: 0;
}

.dialog .content ol {
    list-style: decimal;
}

.dialog .content ul {
    list-style: disc;
    margin-left: 1em;
}

.dialog .content li {
    line-height: 1.25em;
    margin-left: 1em;
}

.dialog .content textarea {
    background: #003859;
    border: 1px solid #005180;
    border-radius: 5px;
    box-sizing: border-box;
    color: #ddd;
    display: block;
    font-family: "Roboto Mono", monospace;
    font-size: 15px;
    margin: 0;
    min-height: 200px;
    padding: 10px;
    resize: none;
    width: 100%;
}

.dialog .content textarea:focus {
    color: #fff;
    outline: none;
}

.dialog .content label {
    margin-right: 10px;
}

.dialog .content input[type="text"] {
    background: #003859;
    border: 1px solid #005180;
    box-sizing: border-box;
    color: #ddd;
    display: inline-block;
    font-family: "Roboto Mono", monospace;
    font-size: 15px;
    margin: 0;
    padding: 5px 10px;
}

.dialog .content input:focus {
    color: #fff;
    outline: none;
}

.dialog .content textarea[readonly] {
    background: #111;
    border: 1px solid #111;
    color: #ccc;
}

.dialog .content p {
    margin-bottom: 1em;
}

.dialog .content p:last-child {
    margin-bottom: 0;
}
