.toasts {
    left: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    text-align: center;
    top: 27px;
    z-index: 2000;
}

.toast {
    height: 0;
    opacity: 0;
    transition: visibility 250ms, opacity 250ms, height 250ms;
    visibility: hidden;
}

.toast.open {
    height: 50px;
    opacity: 1;
    visibility: visible;
}

.toast p {
    background: rgb(10 139 214 / 95%);
    border: 2px solid #5ecbff;
    border-radius: 10px;
    box-shadow: 0 0 25px #5ecbff;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
}

.toast.warning p {
    background: rgb(220 150 0 / 95%);
    border-color: #ffea00;
    box-shadow: 0 0 25px #ffea00;
}
