/* --- Decryptor specific buttons ---------------------------------------------------------------------------------- */

decryptor button.add-input::before {
    content: "\f055";
}


/* --- Input/Output box--------------------------------------------------------------------------------------------- */

decryptor .box {
    background: #222;
    border: 2px solid #444;
    border-radius: 5px;
    position: relative;
}

decryptor .box .title {
    background: #444;
    margin-bottom: 2px;
    padding: 5px 10px;
}

decryptor .box .title > h1 {
    display: inline-block;
    font-family: "Euro Caps", sans-serif;
    font-size: 17px;
    margin-right: 5px;
}

decryptor .box .title > nav {
    float: right;
    white-space: nowrap;
}

decryptor .box .title > nav button {
    margin-left: 1em;
    position: relative;
    top: -1px;
}

decryptor .box .title > nav button:first-child {
    margin-left: 0;
}

decryptor .box .title::after {
    clear: both;
    content: "";
    display: block;
}

decryptor .box .title > nav button::before {
    font-family: FontAwesome;
    margin-right: 0.25em;
}

decryptor .box .title > nav button.decrypt::before,
decryptor .box .title > nav button.add-input::before {
    content: "\f055";
}

decryptor .box .title > nav button.remove::before {
    content: "\f057";
}

decryptor .box .title > nav button.crack::before {
    content: "\f084";
}


/* --- Input/Output panel hierarchy -------------------------------------------------------------------------------- */

decryptor .outputs {
    display: table;
    position: relative;
    width: 100%;
}

decryptor .outputs .box::before {
    background: url(green-arrow.svg) no-repeat;
    background-size: 100% 100%;
    content: "";
    height: 22px;
    left: calc(50% - 25px);
    position: absolute;
    top: -22px;
    width: 50px;
}

decryptor .outputs .box p {
    text-align: left;
}

decryptor .panels {
    display: table-row;
}

decryptor .panel {
    box-sizing: border-box;
    display: table-cell;
    height: 100%;
    padding: 20px 10px 0 10px;
    vertical-align: top;
    width: 1%;
}

decryptor .panel:first-child {
    padding-left: 0;
}

decryptor .panel:last-child {
    padding-right: 0;
}

decryptor .inputs > .panels > .panel {
    padding-top: 0;
}


/* --- Input text area --------------------------------------------------------------------------------------------- */

decryptor textarea {
    background: transparent;
    border: 0;
    box-sizing: border-box;
    color: #ddd;
    display: block;
    font-family: "Roboto Mono", monospace;
    font-size: 15px;
    margin: 0;
    min-height: 100px;
    padding: 10px;
    resize: vertical;
    width: 100%;
}

decryptor textarea:focus {
    color: #fff;
    outline: none;
}


/* --- Output text area -------------------------------------------------------------------------------------------- */

decryptor .box p {
    color: #ddd;
    font-family: "Roboto Mono", monospace;
    font-size: 15px;
    min-height: 50px;
    padding: 10px;
    white-space: pre-wrap;
}


/* --- Output parameters ------------------------------------------------------------------------------------------- */

decryptor .params {
    background: #333;
    border-collapse: collapse;
    box-sizing: border-box;
    display: table;
    width: 100%;
}

decryptor .params .param {
    border-bottom: 2px solid #222;
    border-left: 2px solid #222;
    border-right: 2px solid #222;
    display: table-row;
}

decryptor .params label:first-child {
    background: #005180;
    border-right: 2px solid #222;
    box-sizing: border-box;
    display: table-cell;
    padding: 5px 10px;
    white-space: nowrap;
    width: 1%;
}

decryptor .params input[type=text],
decryptor .params input[type=number],
decryptor .params input[type=checkbox] + label {
    background: #003859;
    border: 0;
    box-sizing: border-box;
    color: #ddd;
    display: table-cell;
    font-family: "Roboto Mono", monospace;
    font-size: 15px;
    padding: 5px 10px;
    width: 100%;
}

decryptor .params select {
    background: #003859;
    border: 0;
    box-sizing: border-box;
    color: #ddd;
    display: table-cell;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    padding: 5px 6px;
    width: 100%;
}

decryptor .params select:focus {
    color: #fff;
    outline: none;
}

decryptor .params input[disabled] {
    background: #333;
}

decryptor .params input:focus {
    color: #fff;
    outline: none;
}

decryptor .params input[type=checkbox] {
    display: none;
}

decryptor .params input[type=checkbox] + label:before {
    content: "\f096";
    font-family: "FontAwesome";
    position: absolute;
}

decryptor .params input[type=checkbox]:checked + label:before {
    content: "\f046";
}

decryptor .params input[type=checkbox] + label:after {
    content: "Off";
    font-family: Roboto, sans-serif;
    margin-left: 1.25em;
}

decryptor .params input[type=checkbox]:checked + label:after {
    content: "On";
}


/* --- Instructions ------------------------------------------------------------------------------------------------ */

decryptor .instructions {
    padding-left: 1em;
}

decryptor > .instructions h1 {
    color: #ffb000;
    font-family: "Euro Caps", sans-serif;
    font-size: 18px;
    margin-bottom: 0.5em;
    margin-top: 2em;
    text-shadow: 0 0 15px #fff;
}

decryptor .instructions ol {
    list-style: decimal;
}

decryptor .instructions li {
    line-height: 1.25em;
    margin-left: 1em;
    margin-top: 0.5em;
}

decryptor .instructions button {
    margin-left: 5px;
    margin-right: 5px;
}


/* --- Converter selection dialog ---------------------------------------------------------------------------------- */

.select-converter-dialog .group {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.select-converter-dialog .group:first-child {
    margin-top: 0;
}

.select-converter-dialog .converter {
    background: #333;
    border: 1px solid #444;
    border-radius: 2px;
    cursor: pointer;
    flex-basis: 400px;
    flex-grow: 1;
    margin-left: 10px;
    padding: 10px;
}

.select-converter-dialog .converter:first-child {
    margin-left: 0;
}

.select-converter-dialog .converter:hover {
    background: #383838;
    text-shadow: 0 0 10px #fff;
}

.select-converter-dialog .converter h1 {
    color: #ff7100;
    font-family: "Euro Caps", sans-serif;
    font-size: 17px;
    margin-bottom: 0.25em;
}

.select-converter-dialog .converter p {
    text-align: left;
}

.select-converter-dialog .converter p {
    margin: 0;
}


/* --- Keyword Cracker Dialog -------------------------------------------------------------------------------------- */

.keyword-cracker-dialog .content {
    max-height: 768px;
    max-width: 768px;
}

.keyword-cracker-dialog .controls {
    color: #888;
    margin-bottom: 1em;
    margin-top: 1em;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.keyword-cracker-dialog .progress::before {
    animation: spin 2s linear infinite;
    content: "\f013";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 14px;
    margin-right: 0.25em;
}

.keyword-cracker-dialog .controls nav {
    float: right;
}

.keyword-cracker-dialog .controls button {
    margin-left: 1em;
}

.keyword-cracker-dialog button.stop::before {
    content: "\f28c";
}

.keyword-cracker-dialog button.start::before {
    content: "\f01d";
}

.keyword-cracker-dialog button.clear::before {
    content: "\f28e";
}

.keyword-cracker-dialog .results {
    clear: both;
}

.keyword-cracker-dialog .result {
    background: #333;
    border: 1px solid #444;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 10px;
    padding: 10px;
}

.keyword-cracker-dialog .result:first-child {
    margin-top: 0;
}

.keyword-cracker-dialog .result:hover {
    background: #383838;
    text-shadow: 0 0 10px #fff;
}

.keyword-cracker-dialog .result h1 {
    color: #ff7100;
    font-family: "Roboto Mono", monospace;
    font-size: 17px;
    margin-bottom: 0.25em;
}

.keyword-cracker-dialog .result h1 .score {
    color: #fff;
    font-family: "Euro Caps", sans-serif;
    font-size: 12px;
}

.keyword-cracker-dialog .result p {
    margin: 0;
    text-align: justify;
}
