<div class="box">
  <div class="title">
    <h1>Input</h1>
    <nav>
      <button class="decrypt" (click)="addOutput()">Convert</button>
      @if (removable) {<button #removeButton class="remove" (click)="remove()">Remove</button>}
    </nav>
  </div>
  <textarea [(ngModel)]="value" focus></textarea>
</div>
<div class="outputs">
  <div class="panels">
    @for (output of outputs; track $index) {
      <div class="panel">
        <decryptor-output [output]="output"></decryptor-output>
      </div>
    }
  </div>
</div>
