<div class="dialog select-converter-dialog">
  <h1>Select converter</h1>
  <button class="close" (click)="close()"></button>
  <div class="converters">
    <div class="group" *ngFor="let group of converterGroups">
      <div class="converter" *ngFor="let converter of group" (click)="close(converter.getId())">
        <h1><a href="javascript:void(0)" (click)="close(converter.getId())">{{ converter.getTitle() }}</a></h1>
        <p>
          {{ converter.getDescription() }}
        </p>
      </div>
    </div>
  </div>
  <button class="cancel" (click)="close()">Cancel</button>
<div>
