<div class="dialog cracker-dialog">
  <h1>Affine cipher cracker</h1>
  <button class="close" (click)="close()"></button>
  <p>
    This cracker brute-forces all possibilities and lists the results sorted by <em>englishness</em>-score. Click on a result to accept it.
  </p>
  <div class="controls">
    @if (running) {
      <span class="progress">
        Cracking... ({{ progress() }}%)
      </span>
    } @else {
      <span>
        Cracking finished
      </span>
    }
  </div>
  <div class="results">
    @for (result of results(); track $index) {
      <div class="result" (click)="close({ a: result.getA(), b: result.getB() })">
        <h1>a={{ result.getA() }} b={{ result.getB() }} <span class="score">({{ result.getScore().toFixed(2) }})</span></h1>
        <p>
          {{ result.getMessage() }}
        </p>
      </div>
    } @empty {
      <p>
        No results recorded so far.
      </p>
    }
  </div>
  <button class="cancel" (click)="close()">Cancel</button>
</div>
