<div class="dialog keyword-cracker-dialog">
  <h1>Keyword cracker</h1>
  <button class="close" (click)="close()"></button>
  <p>
    The keyword cracker continuously tries to find the most valuable results and lists them below sorted by their
    <em>englishness</em>-score. Click on a result to accept it.
  </p>
  <div class="controls">
    @if (running) {
      <span class="progress">
        Run {{ run() }} ({{ progress() }}%)
      </span>
    } @else {
      <span>
        Cracking stopped
      </span>
    }
    <nav>
      @if (running) {
        <button class="stop" (click)="stop()">Stop</button>
      } @else {
        <button class="clear" (click)="clear()">Clear</button>
        <button class="start" (click)="start()">Start</button>
      }
    </nav>
  </div>
  <div class="results">
    @for (result of results(); track $index) {
      <div class="result" (click)="close(result.getKeyword())">
        <h1>{{ result.getKeyword() }} <span class="score">({{ result.getScore().toFixed(2) }})</span></h1>
        <p>
          {{ result.getMessage() }}
        </p>
      </div>
    } @empty {
      <p>
        No results recorded so far.
      </p>
    }
  </div>
  <button class="cancel" (click)="close()">Cancel</button>
</div>
